@use "@/styles/typography";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;

  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h3 {
      display: inline-flex;
      width: max-content;
      margin: 0;
      border-bottom: 2px solid var(--main-blue);
    }

    .link {
      @include typography.text-xs;
      color: var(--main-blue);
    }
  }

  .list {
    flex: 1;
    display: flex;
    gap: 8px;
    overflow: hidden;
    position: relative;

    .card {
      flex: none;
      width: calc(100% / 4 - 6px);
      overflow: hidden;

      @media screen and (max-width: 1199px) {
        width: 250px;
      }
    }
  }
}
