@use "@/styles/typography";

.root {
  flex: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px dashed var(--gray-300);
  padding-bottom: 16px;

  .header {
    display: flex;
    align-items: center;
    gap: 16px;

    .avatar {
      flex: none;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;

      &:empty {
        background: var(--gray-100);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .name {
        @include typography.text-lg;
        @include typography.semibold;
      }
    }

    .about {
      display: flex;
      gap: 16px;

      .city, .experience, .status {
        @include typography.text-sm;
        @include typography.semibold;
        color: var(--gray-500);
      }
    }

  }
}
