@use "@/styles/typography";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-bottom: 1px solid var(--gray-300);

  .container {
    @include max-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 24px;
  }

  .logo {
    flex: none;
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 40px;
      height: auto;
    }

    .title {
      display: flex;
      flex-direction: column;

      .caption {
        font-size: 18px;
        @include typography.bold;
        text-transform: uppercase;
      }

      .description {
        @include typography.text-xs;
        letter-spacing: -0.2;
        color: var(--gray-400);
        margin-top: -4px;
      }
    }
  }
}
