.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-bottom: 1px solid var(--gray-300);

  .container {
    @include max-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  .logo {
    flex: none;
    width: 220px;
    height: 50px;
  }
}
