@use "@/styles/typography";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-bottom: 1px solid var(--gray-200);

  .container {
    @include max-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 24px;

    @media screen and (max-width: 767px) {
      padding: 0 16px;
    }

    .logo {
      flex: none;
      display: flex;
      align-items: center;
      gap: 12px;
      outline: none;

      img {
        width: 40px;
        height: auto;
        border: none;
      }

      .title {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 767px) {
          display: none;
        }

        .caption {
          @include typography.text-lg;
          @include typography.bold;
          text-transform: uppercase;
        }

        .description {
          @include typography.text-xxs;
          letter-spacing: -0.4;
          color: var(--gray-400);
          margin-top: -4px;
        }
      }
    }

    .menu {
      display: flex;
      gap: 16px;
      overflow: hidden;

      a {
        @include typography.text-sm;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @media screen and (max-width: 767px) {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
