.root {
  flex: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .avatar {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
  }

  .name {
    width: 100%;
    display: flex;
    gap: 8px;

    :global(.ant-form-item) {
      flex: 1;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }


  .inspected :global(.ant-form-item-label label) {
    flex-wrap: wrap;

    em {
      flex: auto;
      white-space: pre-line;
    }
  }

  .separator {
    margin: 8px;
  }

  .editor :global(.simple-editor-content) {
    min-height: 200px;
  }

  .limit {
    color: var(--gray-400);
    font-size: 10px;
    text-align: right;
    margin-top: -8px;
  }
}
