@use "@/styles/typography";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--gray-100);

  .wrapper {
    @include max-container;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    padding: 16px 24px 24px;

    @media screen and (max-width: 767px) {
      padding: 16px;
    }
  }

  .breadcrumbs {
    width: 100%;
    @include typography.text-xs;
    color: var(--gray-400);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: var(--main-black);
    }
  }

  .container {
    background: var(--main-white);
    border-radius: var(--rounded-md);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: 767px) {
      padding: 16px;
    }
  }
}
