@use "@/styles/typography";

.root {
  display: flex;
  align-items: center;
  gap: 8px;

  &.loading {
    width: 36px;
    height: 36px;
    background: var(--gray-100);
    border-radius: 50%;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    cursor: pointer;

    .avatar {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
      background: var(--main-black);
    }

    .email {
      @include typography.text-sm;
      @include typography.semibold;
      color: var(--main-black);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .drop {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: var(--gray-300);
      border-radius: 50%;
      position: absolute;
      left: 24px;
      bottom: 0;

      .icon {
        flex: none;
        width: 12px;
        height: 12px;
      }
    }
  }
}
