.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  .add {
    display: inline-flex;
    align-items: center;
    gap: 16px;

    .icon {
      flex: none;
      width: 16px;
      height: 16px;
    }
  }

  .list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    overflow: hidden;

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
}
