@use "@/styles/typography";

.root {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    flex: none;
    white-space: nowrap;
    background: var(--gray-100);
    color: var(--gray-700);
    @include typography.text-xxs;
    padding: 4px 8px;
    border-radius: var(--rounded-xs);
  }
}
