.root {
  flex: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .avatar {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
  }

  .editor :global(.simple-editor-content) {
    min-height: 200px;
  }

  .telegram {
    display: flex;
    align-items: flex-end;
    gap: 16px;

    .test {
      align-self: flex-end;
      color: var(--main-blue);
      padding-bottom: 6px;
    }
  }
}
