.root {
  padding: 0;

  @media screen and (max-width: 767px) {
    margin: 0 !important;
    max-width: 100% !important;
    top: 0;
    bottom: 0;
    height: 100dvh;
    overflow: hidden;

    :global(.ant-modal-container) {
      display: flex;
      height: 100%;
      padding: 0;
      border-radius: 0;
      overflow: hidden;
    }

    :global(.ant-modal-body) {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 16px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .container {
    display: flex;
    width: 100%;
    max-width: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 24px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

    .register {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 24px;
      color: var(--gray-400);

      .action {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
