@use "@/styles/typography";

.root {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @include typography.text-sm;
  color: var(--main-black);

  p {
    margin: 8px 0;
  }
}
