@use "@/styles/typography";

.root {
  width: calc(100% + 48px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;
  background: var(--gray-50);
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 16px;
  padding: 24px;

  @media screen and (max-width: 767px) {
    margin-left: -16px;
    margin-right: -16px;
    padding: 24px 16px;
  }

  h3 {
    display: inline-flex;
    width: max-content;
    margin: 0;
    border-bottom: 2px solid var(--main-blue);
  }

  .list {
    flex: none;
    width: 100%;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .portfolio {
      flex: none;
      width: calc(100% / 4 - 12px);
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: var(--rounded-xs);
      border: 1px solid var(--gray-200);
      overflow: hidden;
      scroll-snap-align: start;
      cursor: pointer;

      @media screen and (max-width: 1199px) {
        width: 300px;
      }

      @media screen and (max-width: 375px) {
        width: 250px;
      }

      .preview {
        flex: 1;
        width: 100%;
        aspect-ratio: 16/9;
        display: block;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .count {
          position: absolute;
          bottom: 8px;
          right: 8px;
          background: var(--main-black);
          border-radius: var(--rounded-xs);
          @include typography.text-sm;
          color: var(--main-white);
          padding: 4px 8px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px 16px;
        overflow: hidden;

        .title {
          @include typography.text-sm;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .description {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: 60px;
          @include typography.text-sm;
          color: var(--gray-500);
        }

        .footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          margin-top: 8px;

          .price {
            @include typography.text-sm;
            @include typography.semibold;
          }

          .file {
            display: flex;
            align-items: center;
            gap: 4px;
            overflow: hidden;

            .icon {
              flex: none;
              width: 24px;
              height: 24px;
            }

            .name {
              flex: 1;
              @include typography.text-sm;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  .buttons {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    z-index: 1;

    .prev, .next {
      flex: none;
      width: 24px;
      height: 24px;

      .icon {
        flex: none;
        width: 24px;
        height: 24px;
      }

      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }
}

.modal {
  width: 100% !important;
  max-width: 800px;
  overflow: hidden;

  :global(.ant-modal-close) {
    background-color: var(--main-black);
    color: var(--main-white);
    outline: none !important;

    @media (hover: hover) {
      &:hover {
        background-color: var(--main-black);
        color: var(--main-white);
        opacity: 0.8;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0 !important;
    max-width: 100% !important;
    top: 0;
    bottom: 0;
    height: 100dvh;
    overflow: hidden;

    :global(.ant-modal-container) {
      display: flex;
      height: 100%;
      padding: 0;
      border-radius: 0;
      overflow: hidden;
    }

    :global(.ant-modal-body) {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 16px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

