:root {
  --rounded-xs: 4px;
  --rounded-md: 8px;
  --offset-top: 70px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-400) var(--gray-100);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--gray-100);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
  border-radius: 4px;
  border: 3px solid var(--gray-400);
}
