@use "@/styles/typography";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;

  .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    h3 {
      display: inline-flex;
      width: max-content;
      margin: 0;
      border-bottom: 2px solid var(--main-blue);
    }

    .link {
      @include typography.text-xs;
      color: var(--main-blue);
    }
  }

  .list {
    flex: 1;
    display: flex;
    gap: 8px;
    overflow: hidden;
    position: relative;

    .card {
      flex: none;
      width: calc(100% / 5);
      overflow: hidden;

      @media screen and (max-width: 991px) {
        width: calc(100% / 3);
      }

      @media screen and (max-width: 767px) {
        width: 200px;
      }

      .picture {
        flex: none;
        width: 100%;
        aspect-ratio: 16/9;
        display: block;
        overflow: hidden;
        border: 1px solid var(--gray-200);
        border-radius: var(--rounded-xs);
        margin: 0;

        @media screen and (max-width: 767px) {
          width: 200px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .more {
        position: absolute;
        bottom: 8px;
        right: 8px;
        background: var(--main-black);
        border-radius: var(--rounded-xs);
        @include typography.text-sm;
        color: var(--main-white);
        padding: 4px 8px;
      }
    }
  }
}
