@use "@/styles/typography";

.root {
  flex: none;
  width: 100%;
  display: flex;
  gap: 8px;
  overflow: hidden;
  position: relative;

  .picture {
    flex: none;
    width: 300px;
    aspect-ratio: 16/9;
    display: block;
    overflow: hidden;
    border: 1px solid var(--gray-200);
    border-radius: var(--rounded-md);
    margin: 0;

    @media screen and (max-width: 767px) {
      width: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .more {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: var(--main-black);
    border-radius: var(--rounded-xs);
    @include typography.text-sm;
    color: var(--main-white);
    padding: 4px 8px;
  }
}
