@use "@/styles/typography";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--yellow-300);
  padding: 8px 16px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

    .beta {
      @include typography.text-xxs;
      @include typography.semibold;
      background: var(--gray-600);
      color: var(--main-white);
      text-transform: uppercase;
      padding: 4px 6px;
      border-radius: var(--rounded-xs);

      @media screen and (max-width: 576px) {
        font-size: 8px;
      }
    }

    .text {
      @include typography.text-xs;
      color: var(--gray-500);

      @media screen and (max-width: 576px) {
        @include typography.text-xxs;
      }
    }
  }
}

.modal {
  padding: 0;

  :global(.ant-modal-close-x) {
    color: var(--main-white);
  }

  :global(.ant-modal-container) {
    background: var(--main-black) !important;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--main-white);

    .contact {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--main-blue);

      img {
        flex: none;
        width: 16px;
        height: 16px;
      }
    }
  }
}

