@use "@/styles/typography";

.root {
  width: 100%;
  max-width: 300px;
  display: flex;
  margin: 0 auto;

  .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 1;
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 300px;

    input {
      height: 40px;
    }

    .password {
      input {
        height: 30px;
      }
    }

    .policy {
      @include typography.text-xs;
      color: var(--gray-400);

      a {
        text-decoration: underline;
        color: var(--gray-400);
      }
    }

    .submit {
      margin-top: 8px;
    }
  }
}
