@use "./styles/reset";
@use "./styles/colors";
@use "./styles/utils";
@use "./styles/ant";
@use "./styles/typography";
@use "./styles/variables";
@use "./styles/keyframe-animations";

body {
  background: var(--main-white);
  color: var(--main-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a {
  color: var(--main-black);
  text-decoration: none;
}

.layout-container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.no-padding {
  padding: 0 !important;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.channel-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

h1 {
  @include typography.display-md;
  @include typography.bold;
  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    @include typography.display-sm;
  }
}

h2 {
  @include typography.display-sm;
  @include typography.bold;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    @include typography.text-lg;
  }
}

h3 {
  @include typography.text-md;
  @include typography.semibold;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    @include typography.text-sm;
  }
}
