@use "./styles/reset";
@use "./styles/colors";
@use "./styles/utils";
@use "./styles/ant";
@use "./styles/typography";

body {
  background: var(--main-white);
  color: var(--main-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

a {
  color: var(--main-black);
  text-decoration: none;
}

.layout-container {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}

.no-padding {
  padding: 0 !important;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}

.channel-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

h1 {
  @include typography.display-md;
  @include typography.bold;
  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    @include typography.display-sm;
  }
}

h2 {
  @include typography.display-sm;
  @include typography.bold;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    @include typography.text-lg;
  }
}

h3 {
  @include typography.text-md;
  @include typography.semibold;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    @include typography.text-sm;
  }
}

blockquote {
  background-color: var(--blue-50);
  background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.3 9.61995C2.97 10.4499 2.45 11.2699 1.755 12.0599C1.535 12.3099 1.505 12.6699 1.685 12.9499C1.825 13.1699 2.055 13.2899 2.305 13.2899C2.375 13.2899 2.445 13.2849 2.515 13.2599C3.985 12.8299 7.42 11.3049 7.515 6.41495C7.55 4.52995 6.17 2.90995 4.375 2.72495C3.38 2.62495 2.39 2.94995 1.655 3.60995C1.29153 3.93966 1.00102 4.34173 0.80211 4.79035C0.603204 5.23896 0.500298 5.72422 0.5 6.21495C0.5 7.86495 1.67 9.30995 3.3 9.61995ZM12.355 2.72495C11.365 2.62495 10.375 2.94995 9.64 3.60995C9.27653 3.93966 8.98602 4.34173 8.78711 4.79035C8.5882 5.23896 8.4853 5.72422 8.485 6.21495C8.485 7.86495 9.655 9.30995 11.285 9.61995C10.955 10.4499 10.435 11.2699 9.74 12.0599C9.52 12.3099 9.49 12.6699 9.67 12.9499C9.81 13.1699 10.04 13.2899 10.29 13.2899C10.36 13.2899 10.43 13.2849 10.5 13.2599C11.97 12.8299 15.405 11.3049 15.5 6.41495V6.34495C15.5 4.48995 14.135 2.90995 12.355 2.72495Z" fill="RoyalBlue"/></svg>');
  background-size: 12px;
  background-position: 95% 8px;
  background-repeat: no-repeat;
  border-radius: var(--rounded-md);
  padding: 8px 36px 8px 12px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-radius: var(--rounded-md) 0 0 var(--rounded-md);
    background: var(--main-blue);
  }
}

.mdxeditor {
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: var(--rounded-md);
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;

  .mdxeditor-root-contenteditable {
    & > div {
      height: 100%;

      & > div {
        min-height: 200px;
      }
    }
  }
}
