.root {
  display: flex;
  height: calc(100dvh - 64px);
  background: var(--gray-100);
  overflow: hidden;

  @media screen and (max-width: 991px) {
    flex: 1;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .wrapper {
    @include max-container;
    display: flex;
    margin: 0 auto;
    gap: 32px;
    padding: 16px;

    @media screen and (max-width: 1439px) {
      gap: 16px;
    }
  }
}
