@use "@/styles/typography";

.root {
  display: flex;

  :global(.dropzone) {
    flex: none;
    display: flex;
    width: 100px;
    height: 100px;

    .add {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border: 2px dashed var(--gray-300);
      border-radius: 50%;
      color: var(--gray-400);
      cursor: pointer;
      overflow: hidden;
      transition: background .3s ease, color .3s ease, border-color .3s ease;

      @media (hover: hover) {
        &:hover {
          border-color: var(--main-blue);
          color: var(--main-blue);
        }
      }

      &.loading {
        animation: spin 1s linear infinite;
        border-color: var(--blue-200);
        color: var(--blue-200);
        pointer-events: none;
      }

      &.dragged {
        border-color: var(--main-blue);
        background: var(--main-blue);
        color: var(--main-white);
      }

      .icon {
        flex: none;
        width: 24px;
        height: 24px;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
