@use "@/styles/typography";

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;

  @media screen and (max-width: 576px) {
    gap: 16px;
  }

  h3 {
    display: inline-flex;
    width: max-content;
    margin: 0 0 8px;
    border-bottom: 2px solid var(--main-blue);

    @media screen and (max-width: 576px) {
      margin: 0;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 8px;
      @include typography.text-sm;

      img {
        flex: none;
        width: 32px;
        height: 32px;
      }
    }
  }
}
