@use "@/styles/typography";

.root {
  width: 100%;
  max-width: 300px;
  display: flex;
  margin: 0 auto;

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 300px;

    input {
      height: 40px;
    }

    .password {
      input {
        height: 30px;
      }
    }

    .submit {
      margin-top: 8px;
    }
  }
}
